<footer class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="flex-fill content d-flex flex-row-nowrap justify-content-end align-items-end p-20">
        <p>Quora, &copy; Theo LE BAIL | 2023 - {{ 2023 + "now" | date('Y') - 2022}}</p>
    </div>
</footer>